:root {
	--button-color: #1536e5;
	--light-blue: #e7eafb;
	--border-radius: 4px;
	--gray-color: #d8d8d8;
}

body {
	margin: 0px;
	padding: 8px 26px 14px 26px;
}

* {
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.header__text {
	font-size: 18px;
}

.header__nav {
	flex-shrink: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.form__group,
.form__group--icon {
	width: 289px;
	margin-bottom: 26px;
}

.form__group--icon {
	display: flex;
}
.form__label {
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
}

.form__label--icon {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	flex-shrink: 0;
	border-radius: var(--border-radius);
	background-color: var(--light-blue);
	cursor: pointer;
}
.form__input {
	width: 100%;
	height: 35px;
	padding: 0 12px;
	border-radius: var(--border-radius);
	outline: none;
	border: 1px solid var(--gray-color);
}

.form__input--submit {
	display: block;
	background-color: var(--button-color);
	margin: auto;
	width: 100%;
	max-width: 255px;
	height: 40px;
	border: none;
	outline: none;
	color: white;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.form__input--submit:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

button {
	cursor: pointer;
}

.button__secondary {
	display: block;
	margin: auto;
	background-color: transparent;
	width: 100%;
	max-width: 255px;
	height: 40px;
	border: none;
	outline: none;
	color: var(--button-color);
}

.button__icon {
	background: transparent;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
